<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf=helpActive id="helpImageContainer" (click)=deactivateHelp()>
    <img id="helpImage" src="assets/help.png">
</div>
<div *ngIf=loadingScreenActive id="loadingScreenContainer">
    <mat-spinner diameter=200></mat-spinner>
    <p id="loadingScreenText">{{loadingText}}</p>
</div>
<div *ngIf=labelsViewActive id="labelsViewContainer" (click)=deactivateLabelsView()>
    <mat-list id=labelsList>
        <div *ngFor="let letter of startingLetters">
            <h3 mat-subheader>{{letter}}</h3> 
            <mat-list-item *ngFor="let label of labelsWithLetter(letter)">
                <h4 mat-line>{{label}}</h4>
            </mat-list-item> 
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>
<div id="container">
    <app-video-sidebar></app-video-sidebar>
    <app-video-visualization></app-video-visualization>
    <app-result-sidebar></app-result-sidebar>
</div>